/* Solution 4 */
.blue_button {
  color: blue;
}

.blueviolet_button {
  color: blueviolet;
}



/* Solution 7 */
.bag_button {
  background-color: lightgreen;
  border: none;
  border-radius: 10px;
  padding: 5px 15px;
}
.bag_button:hover {
  cursor: pointer;
}

.wishlist_button {
  border: 2px solid #000;
  border-radius: 10px;
  padding: 5px 35px;
}
.wishlist_button:hover {
  cursor: pointer;
}