.addButton {
  border: none;
  background-color: lightgreen;
  font-weight: 500;
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
}

.wishlistButton {
  border: 2px solid #000;
  font-weight: 500;
  padding: 5px 20px;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
}

.saleButton {
  border: none;
  background-color: lightgreen;
  font-weight: 500;
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
}